:root {
  --bg: #0f111b;
  --bg2: #161a28;
  --panel: #181d2e;
  --sidebar: #12141f;

  --border: #242a3d;
  --border2: #2f3654;

  --text: #e8ecf6;
  --dim: #8b93ad;
  --dim2: #646d88;

  --cyan: #1ba4f0;
  --cyan2: #91f2ff;
  --blue: #226ec7;
  --green: #2fbf83;
  --red: #f36a6f;
  --amber: #e2a13a;

  --font-ui: 'Manrope', sans-serif;
  --mono: 'JetBrains Mono', monospace;
}
